@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:focus-visible {
    outline: 0.125rem solid black;
    outline-offset: 0.125rem;
  }

  /* img,
  svg,
  picture {
    width: 100%;
  } */

  .bg-custom {
    background-image: url("/pattern-light-bg.svg"), url("/pattern-glow.svg");
    background-repeat: no-repeat;
    /* background-size: auto, auto; */
    background-position:
      0% 0%,
      left top;
  }
}
